/Users/wills/Envs/tmobileserver/bin:/Users/wills/.rvm/gems/ruby-2.3.0/bin:/Users/wills/.rvm/gems/ruby-2.3.0@global/bin:/Users/wills/.rvm/rubies/ruby-2.3.0/bin:/Users/wills/.dnx/runtimes/dnx-coreclr-darwin-x64.1.0.0-rc1-update2/bin:/Users/wills/.dnx/bin:/usr/local/bin:/usr/bin:/bin:/usr/local/sbin:/usr/sbin:/sbin:/usr/local/share/dotnet:/Library/Java/JavaVirtualMachines/jdk1.8.0_121.jdk/Contents/Home/bin:/usr/local/share/scala-2.12.1/bin:/usr/local/spark/bin:/usr/local/hadoop/bin:/usr/local/hadoop/sbin:/Users/wills/.rvm/bin
